/* General styles */
html,body{
  margin: 0;
  padding: 0;

  font-family: 'Calibri', sans-serif
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5{
  margin:0;
  padding:0;
}

/* Content */
div#content{padding:15px;clear:both;}

/* Header */
div.navbar {
  background: #333;
  border:none;
  border-bottom: 2px solid #8cc63f;
  border-radius: 0;
  margin-bottom: 0;
}
ul.nav li a {
  color: #ccc;
}
ul.nav li a:hover {
  color: #8cc63f !important;
}
.navbar-brand {
  color: #6b73b5 !important;
  font-weight: bold;
}
#topNavList ul.nav li a {
  margin-top: 10px;
  padding: 5px 15px;
}

/* Footer */
ul#more-info, ul#even-more-info{list-style-type: none;padding-left:0px;}
ul#more-info li, ul#even-more-info li{display:inline;padding-left:5px;padding-right:5px;}
ul#even-more-info{ font-size:80%;text-align:center;}

/* Annotations */
table.count-tooltip-table tr#column-headings{ border-bottom:1px solid #fff;}
table.count-tooltip-table td, table.count-tooltip-table th{ padding-left:5px;padding-right:5px;}
table.count-tooltip-table .left{border-right:1px solid #fff;}

/* Typeahead.js styling */
.tt-menu {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0 0 7.5px 7.5px;
}
.tt-query,
.tt-hint {
  width: 160px;
  font-size: 14px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
color: #999
}

.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  width: 160px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  border-top: 1px solid #ccc;
  cursor: pointer;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 24px;
}
.tt-suggestion:hover{
  background: rgb(235,235,235);
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

