{% extends "layout.html" %}
{% load annotation_tags %}
{% block title %}Annotations for {{ gene }}{% endblock %}
{% block content %}
<h3>Annotations for {{ gene|upper }}</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form class="form-inline">
  <label for="geneName">Gene search</label>
  <input class="form-control" type="text" id="geneName" placeholder="Gene name (e.g. TP53)">
  <button id="geneSearch" type="submit" class="btn btn-default">Submit</button>
</form>
<br/>
<table class='table table-striped'>
  <tr style='background:#d3d3d3'>
    <th>Class</th>
    <th>Type</th>
    <th style='border-right:1px solid #000'>Protein Sequence Change</th>
    <th>Reference</th>
    <th>Source</th>
    <th>Cancer(s)</th>
    <th>Somatic?</th>
    <th>Measurement type</th>
    <th>Characterization</th>
    <th>Annotate</th>
  </tr>
  {% for ref in references %}
    <tr>
      <td>{{ ref.mutation__mutation_class }}</td>
      <td>{{ ref.mutation__mutation_type }}</td>
      <td style='border-right:1px solid #000'>
        {{ ref.mutation__original_amino_acid }}{{ ref.mutation__locus }}{{ ref.mutation__new_amino_acid }}
      </td>
      <td>{% ref_link ref.identifier ref.db %}</td>
      <td>{{ ref.source }}</td>
      <td>{% count_tooltip 'Cancer' ref.counter.annotation__cancer__abbr 'right' 'upper' %}</td>
      <td>{% count_tooltip 'Heritable' ref.counter.annotation__heritable 'right' mapper=mapper.heritable %}</td>
      <td>{% count_tooltip 'Measurement Type' ref.counter.annotation__measurement_type 'right' mapper=mapper.measurement_type %}</td>
      <td>{% count_tooltip 'Characterization' ref.counter.annotation__characterization 'left' mapper=mapper.characterization %}</td>
      <td>
        <ul style='padding-left:12px'>
          <li><a href='{% url 'annotations:details' ref_pk=ref.pk %}'>Add/Edit annotation</a></li>
          {% if not ref.no_annotations %}
            {% if ref.user_annotated %}
              <li><a href='{% url 'annotations:remove_annotation' gene_name=gene ref_pk=ref.pk %}'>Remove your annotation(s)</a></li>
            {% else %}
              <li><a href='#' class='like-btn' refPk='{{ ref.pk }}' {% majority_link_attrs ref.counter %}>Agree with majority</a></li>
            {% endif %}
          {% endif %}
      </ul>
      </td>
    </tr>
{% empty %}
  <tr><td colspan='9' style='text-align:center'>Sorry, no annotations for {{ gene }}.</td></tr>
{% endfor %}
</table>
<form id='plus_one' method='POST' action='{% url 'annotations:plus_one' gene_name=gene %}'>{% csrf_token %}
  <input type='hidden' name='refPk' id='refPk'>
  <input type='hidden' name='annotation__cancer__abbr' id='annotation__cancer__abbr'>
  <input type='hidden' name='annotation__heritable' id='annotation__heritable'>
  <input type='hidden' name='annotation__measurement_type' id='annotation__measurement_type'>
  <input type='hidden' name='annotation__characterization' id='annotation__characterization'>
</form>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>
  // Activate tooltips
  $(function(){ $('span.tooltip-toggle').tooltip() });

  // Perform gene search
  $('button#geneSearch').click(function(e){
    e.preventDefault();
    var geneName = $('input#geneName').val();
    if (geneName == ''){
      alert('Please enter a gene name.');
    } else {
      window.location = '/annotations/' + geneName;
    }
  });

  // Like buttons
  var fieldNames = ['refPk', 'annotation__cancer__abbr', 'annotation__measurement_type', 'annotation__heritable', 'annotation__characterization'],
      hiddenForm = $('form#plus_one');
  $('a.like-btn').click(function(e){
    e.preventDefault();
    var link = $(this);
    fieldNames.forEach(function(n){
      var val = link.attr(n);
      if (val != '') hiddenForm.children('#' + n).val(val);
    });
    hiddenForm.submit();
  });
</script>
{% endblock %}
